# custom config
ExecVars.py
ConfigSample.py

# you know these
venv
__pycache__

# Telethon sessions
*.session
*.session-journal

# tests
test*.*
splfil/

# runtime files
Downloads/
userdata/
torlog.txt
sa_accounts/
sa_files*
rclone.conf
bot/config/ConfigSample.py
