cryptg
psutil
aria2p
bencoding
flask
gunicorn
anytree
lk21
lxml
cfscrape
Telethon
tgCrypto
Pyrogram
urllib3
pillow
speedtest-cli
python-dotenv
requests
megasdkrestclient
qbittorrent-api

