anytree
apscheduler
aria2p
bencoding
beautifulsoup4
cfscrape
cryptg
dnspython
feedparser
flask==2.0.3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgCrypto
xattr
yt-dlp

