cryptg==0.2.post2
psutil==5.8.0
aria2p
bencoding
lk21
cfscrape
Telethon
TgCrypto==1.2.3
urllib3==1.26.5
Pyrogram
speedtest-cli
python-dotenv
requests
megasdkrestclient
qbittorrent-api
https://github.com/Ripeey/Conversation-Pyrogram/archive/refs/heads/main.zip

