# REQUIRED CONFIG
TELEGRAM_API_HASH = ""                                # Require restart after changing it while bot running
TELEGRAM_API_ID = ""                                  # Require restart after changing it while bot running
BOT_TOKEN = ""                                        # Require restart after changing it while bot running
OWNER_ID = ""                                         # Require restart after changing it while bot running
# OPTIONAL CONFIG
GDRIVE_FOLDER_ID = ""
IS_TEAM_DRIVE = ""
DOWNLOAD_DIR = "/usr/src/app/downloads/"              # Require restart after changing it while bot running
SUDO_USERS = ""
ALLOWED_CHATS= ""
AUTO_MIRROR= ""                                       # Require restart after changing it while bot running
TORRENT_TIMEOUT= ""
AUTO_DELETE_MESSAGE_DURATION = "30"
UPTOBOX_TOKEN= ""
EXTENSION_FILTER = ""
CMD_INDEX = ""                                        # Require restart after changing it while bot running
STATUS_LIMIT = ""
DATABASE_URL = ""                                     # Require restart after changing it while bot running
PARALLEL_TASKS= ""                                    # Require restart after changing it while bot running
# LOCAL MIRRORING
LOCAL_MIRROR= ""
BASE_URL = ""
SERVER_PORT = "" 
# GOOGLE DRIVE INDEX
GD_INDEX_URL = ""
VIEW_LINK = ""
# RCLONE
DEFAULT_OWNER_REMOTE= ""
DEFAULT_GLOBAL_REMOTE= ""
MULTI_RCLONE_CONFIG= ""
USE_SERVICE_ACCOUNTS = ""
SERVICE_ACCOUNTS_REMOTE= ""
REMOTE_SELECTION= "" 
MULTI_REMOTE_UP= ""
SERVER_SIDE= ""
RC_INDEX_URL= ""
RC_INDEX_PORT= ""
RC_INDEX_USER= ""
RC_INDEX_PASS= ""
# UPDATE
UPSTREAM_REPO= ""
UPSTREAM_BRANCH= ""
# LEECH
LEECH_SPLIT_SIZE= ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
LEECH_LOG = ""
BOT_PM= ""
USER_SESSION_STRING= ""                               # Require restart after changing it while bot running
# RSS
RSS_DELAY = ""                                        # Require restart after changing it while bot running
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""                          # Require restart after changing it while bot running
# MEGA
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# QBITTORRENT
QB_BASE_URL = "" 
QB_SERVER_PORT = "" 
WEB_PINCODE = "" 
# TORRENT SEARCH
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py"]'